<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem
        id="aliment_app"
        name="Aliment"
        sequence="20"
        web_icon="aliment_app,static/description/icon.png"
    />

    <!--Sub menu-->

    <menuitem id="menu" name="Menu" sequence="1" parent="aliment_app" />

    <!--Child menu-->

    <menuitem
        id="Liste"
        name="Liste des aliments"
        action="aliment_internal_aliment_internal_action_window"
        sequence="1"
        parent="menu"
    />

</odoo>
